.menubar {
    background-color: black;
    overflow: hidden;
}

.menubar a {
    float: left;
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    text-decoration: none;
    font-family: "Verdana";
}

.menubar a:hover {
    background-color: white;
    color: black;
}

h1 {
    font-size: 40px;
    font-family: Verdana;
}

body {
    background-image: url("https://unsplash.com/photos/twukN12EN7c/download");
    /*background-position: center;*/
    background-size: cover;
}

.sidebar {
    float: right;
    display: flex;
    
}

.signupform label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    color: blue;
}


div.signupform {
    display: block;
    text-align: center;
    background-color: lightcyan;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}
