.menubar {
    background-color: #03ecfc;
    overflow: hidden;
}

.menubar a {
    float: left;
    color: black;
    padding: 10px 12px;
    font-size: 20px;
}

.menubar a:hover {
    background-color: aliceblue;
    color: aqua;
}

body {
    background-image: url("https://unsplash.com/photos/twukN12EN7c/download");
    /*background-position: center;*/
    background-size: cover;
}

.signupform label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    color: blue;
}


div.signupform {
    display: block;
    text-align: center;
    background-color: lightcyan;
    margin-left: 20%;
    margin-right: 20%;
    height: 300px;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
