<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="stylesheet.css"> 
    <div class="menubar">
        <a class="active" href="#Home">Home</a>
        <a href="#Account">Account</a>
        <a href="#About">About</a>
    </div>
    <body background="https://cdn1.epicgames.com/ue/item/MountainVistas_Screenshot_03-1920x1080-ac463a22a6db14dc5a5ea907eb38d7c8.png">
        <div id="like_button_container"></div>
        <h1> Social Media Clone </h1>
        <div class="webpage">
            <div class="login-card">
                {% block content %}
                <form action="" method="post" novalidate>
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <p> 
                        {{ form.user.label }} <br>
                        {{ form.user(size=32) }}
                    </p>
                    <p>
                        {{ form.pw.label }} <br>
                        {{ form.pw(size=32) }}
                    </p>
                    <p> {{ form.submit() }} </p>
                    <!-- <script src="login.js"></script>
                    <label for="username"><b>Username</b></label><br>
                    <input type="text" id="username" name="username"><br>
                    <label for="password">Password</label><br>
                    <input type="password" id="password" name="password"><br><br>
                <button type="button" name="login_button" onclick="onLoginClick()">Login<br></button>
                    <a href="signup.html"><br><br> Don't have an account? <br> Sign up here. </a>
                    <div id="wrong-pw"> </div> -->
                </form>
                {% endblock %}
            </div>
            <div class="sidebar">
                <p> Testing </p>
            </div>
        </div>
    </body>
</html>
